<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>signup</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container px-4 px-lg-5">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">회원가입</button>
    </form>
    <!--
    <ul>
        <li>아이디 <span class="text_danger">*</span><input type="text" id="signUpId">
            <button> 중복확인</button>
        </li>
        <li>비밀번호 <span class="text_danger">*</span><input type="password" id="signUpPassword1"></li>
        <li>비밀번호 확인 <span class="text_danger">*</span><input type="password" id="signUpPassword2"></li>
        <li>닉네임<span class="text_danger">*</span><input type="text" id="nickname"></li>
        <li>주소<span class="text_danger">*</span><input type="text" id="address"></li>
        <li>사이즈<input type="text" id="size"></li>
        <li>
            <button type="button">회원가입</button>
        </li>
    </ul>
    -->
</div>
{% endblock %}
</body>
</html>