<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>MyPage</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#!">LISA'S CLOSET</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
</nav>
<div>
    <span>회원정보</span>
    <div>
        <b>아이디</b><span>lisa1234</span><br>
        <b>닉네임</b><span>nickname</span><br>
        <b>주소</b><span>서울시 송파구 신천동</span><br>
        <b>사이즈</b><span>상의 : M   하의 : S</span><br>
    </div>
    <span>장바구니</span>
    <div>
        <div><input type="checkbox"><img>
            <b>긴팔니트</b><br>
            색상:핑크<br>
            사이즈:M<br>
            수량:1
        </div>
        <div><input type="checkbox"><img>
            <b>숏패딩</b><br>
            색상:그레이<br>
            사이즈:M<br>
            수량:1
        </div>
    </div>
</div>
</body>
</html>