<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Small Business - Start Bootstrap Template</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container px-4 px-lg-5">
    <h2>LISA'S CLOSET 소개</h2>
    <p>성수동의 작은가게에서 시작된 어쩌구저쩌구 에코프렌들리한 공정으로 비건가죽 사용~~</p>
    <h4>위치</h4>
    <p>서울시 송파구 999-111</p>
    <h4>문의</h4>
    <p><b>고객센터</b>  02-9999-1111</p>
    <p><b>이메일</b>    GOGOLW@GMAIL.COM</p>
</div>
{% endblock %}
</body>
</html>