<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>signup</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#!">LISA'S CLOSET</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
</nav>
<div class="container px-4 px-lg-5">
    <ul>
        <li>아이디 <span class="text_danger">*</span><input type="text" id="signUpId">
          <button> 중복확인 </button>
        </li>
        <li>비밀번호 <span class="text_danger">*</span><input type="password" id="signUpPassword1"></li>
        <li>비밀번호 확인 <span class="text_danger">*</span><input type="password" id="signUpPassword2"></li>
        <li>닉네임<span class="text_danger">*</span><input type="text" id="nickname"></li>
        <li>주소<span class="text_danger">*</span><input type="text" id="address"></li>
        <li>사이즈<input type="text" id="size"></li>
        <li>
            <button type="button">회원가입</button>
        </li>
    </ul>
</div>
</body>
</html>